[Desktop Entry]
Encoding=UTF-8
Name=Publish to Wordpress
Name[sv]=Publicera till Wordpress
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Marcus Follrud
X-KDE-PluginInfo-Email=marcus.follrud@gmail.com
X-KDE-PluginInfo-Name=publish-to-wordpress
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Blogging
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true